<section class="content" id="about">
  <div class="block-content">
      <h3 class="block-title">Perfil</h3>
      <h3 class="subheading">¡Hola! soy Jake <strong>Ing. de Software & Programador BackEnd/FrontEnd</strong></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quasi debitis eaque minus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, praesentium! Magnam, consequuntur.</p>
      <div class="info-list row">
          <div class="col-sm-6"><span>Nombre : </span> Jake</div>
          <div class="col-sm-6"><span>Fecha de Nacimiento : </span> Enero 01, 2004 </div>
          <div class="col-sm-6"><span>Dirección : </span> Perú, Lima, Ate.</div>
          <div class="col-sm-6"><span>Email : </span> jake03012004@gmail.com</div>
          <div class="col-sm-6"><span>Telefono : </span> + 51 949 135 154</div>
          <div class="col-sm-6"><span>Interes : </span> Frelance, Full-Time</div>
      </div>
  </div>
  <div class="block-content">
      <h3 class="block-title">Profesional</h3>
      <div *ngFor="let profex of cv.profesional">
        <label class="progress-bar-label">{{ profex.Nombre }}</label>
        <div class="progress">
            <div [style.width.%]=profex.Valor class="progress-bar" role="progressbar" attr.aria-valuenow= "{{ profex.Valor}}" aria-valuemin="0" aria-valuemax="100">
                <span>{{ profex.Valor }}%</span>
            </div>
        </div>
      </div>
  </div>
  <div class="block-content">
      <h3 class="block-title">Experiencia</h3>
      <div class="timeline experience">
          <div class="row">
              <div class="col-md-12">
                  <div class="exp-holder">
                      <div class="exp">
                          <div class="hgroup">
                              <h4><span>UX Designer</span> @ Apple Inc</h4>
                              <h5>Feb 2017 - <span class="current">Present</span></h5>
                          </div>
                          <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                      </div>
                      <div class="exp">
                          <div class="hgroup">
                              <h4><span>Research Assistant</span> @ Facebook </h4>
                              <h5>Sept 2017 - Nov 2017</h5>
                          </div>
                          <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                      </div>
                      <div class="exp">
                          <div class="hgroup">
                              <h4><span>Intern</span> @ Google </h4>
                              <h5>May 2017 - Sept 2017</h5>
                          </div>
                          <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="block-content">
      <h3 class="block-title">Educación</h3>
      <div class="timeline education">
          <div class="row">
              <div class="col-md-12">
                  <div class="exp-holder">
                    <div *ngFor="let educx of cv.educacion">
                      <div class="exp">
                        <div class="hgroup">
                            <h4>{{ educx.Nombre }} | <span>{{ educx.Nombre2 }}</span></h4>
                            <h5>{{ educx.Fecha }}</h5>
                        </div>
                        <p>{{ educx.Descripcion }}</p>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="block-content">
      <h3 class="block-title">Servicios</h3>
      <div class="row">
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-laptop"></i>
              </div>
              <h4>Diseño Web</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-pie-graph"></i>
              </div>
              <h4>Desarrollo de Aplicaciones</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-paintbucket"></i>
              </div>
              <h4>Diseño Grafico</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-printer"></i>
              </div>
              <h4>Print Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-qr-scanner"></i>
              </div>
              <h4>Graphic Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-social-buffer"></i>
              </div>
              <h4>Print Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          </div>
      </div>
  </div>
  <!-- <div class="block-content">
      <h3 class="block-title">Awards</h3>
      <div class="row">
          <div class="col-md-3 col-sm-6 awards">
              <img src="assets\images\awards\1.jpeg" alt="">
          </div>
          <div class="col-md-3 col-sm-6 awards">
              <img src="assets\images\awards\2.jpeg" alt="">
          </div>
          <div class="col-md-3 col-sm-6 awards">
              <img src="assets\images\awards\3.jpeg" alt="">
          </div>
          <div class="col-md-3 col-sm-6 awards">
              <img src="assets\images\awards\4.jpeg" alt="">
          </div>
      </div>
  </div> -->
  <div class="block-content">
      <h3 class="block-title">Testimonios</h3>
      <div class="row">
        <div id="liontestimonial" class="owl-carousel owl-theme">
          <div *ngFor="let textix of cv.testimonio" class="item testimonials">
            <img src="assets/images/testimonials/1.jpeg" alt="">
            <blockquote>
              {{textix.Descripcion}}
              <p class="quote"><span>{{textix.Nombre}}</span> - {{textix.Cargo}}</p>
            </blockquote>
          </div>
        </div>
      </div>
  </div>
  <div class="row text-center">
      <div class="col-md-12 btn-email">
          <a class="btn lowercase">davisanderson87@gmail.com</a>
      </div>
  </div>
</section>
